# Ignore the workspace/archive
/_workspace/

# Quarto internals & build Directory
/.quarto/
/_freeze/
/_site/
/_build/
/.jj/

# Intermediate files
/country/*/assets/
/country/*/logos/
*.typ
*.md
*.log

# Output files
# 1. Ignore all PDFs by default (prevents tracking them in country/ folders)
*.pdf

# BUT force-track:
# PDFs in the reports folder
# Typst files in the _extensions folder
# README / COPYING files.
!reports/*.pdf
!_extensions/**/*.typ

!README.md
!COPYING.md
!COPYING-0BSD.md
**/*.quarto_ipynb
